*{margin: 0; padding: 0;}
*{box-sizing: border-box;}
.token.comment{
  color: black;
}
.token.selector{
  color: black;
}
.token.property{
  color: black;
}
.token.punctuation{
  color: black;
}
.token.function{
  color: black;
}
#code-wrapper{
  padding: 32px;
  padding-right: 16px;
  height: 100vh;
  width: 50%;
  display: flex;
}
#code{
  width: 100%;
  overflow: hidden;
}
#paper{
  position: fixed;
  right: 0;
  width: 50%;
  height: 100%;
  background: #EEE;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  padding-left: 0;
}
#paper > .content{
  padding: 16px;
  background: white;
  width: 100%;
  height: 100%;
  display: none;
  overflow: auto;
}
@keyframes breath{
  0%{
    box-shadow: 0 0 10px rgba(0,0,0,1)
  }
  100%{
    box-shadow: 0 0 10px rgba(0,0,0,0.2)
  }
}